<div class="container-fluid  footer-grid footer-menu">
   
            <div class="row">                <section class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <!-- Sidebox general wrapper start -->
    <aside class="sidebox pull-left">
        <h5 class="text-uppercase ">
            
                                    Демо
                            

        </h5>
        <div class="sidebox-body">


    <nav class="text-links">
            <ul class="list-inline">
                            <li class=" ">

                    
                                                                
                    <a href="/features-intro.html">Обзор возможностей</a>
                </li>
                                            <li class=" ">

                    
                                                                
                    <a href="/demo-shop.html">Онлайн демо</a>
                </li>
                                            <li class=" ">

                    
                                                                
                    <a href="/download.html">Скачать</a>
                </li>
                                            <li class=" ">

                    
                                                                
                    <a href="/live-stores.html">Примеры магазинов</a>
                </li>
                                    </ul>
        </nav>
</div>
    </aside>
    <!-- Sidebox general wrapper end -->
        </section>
                    
                    <section class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <!-- Sidebox general wrapper start -->
    <aside class="sidebox pull-left">
        <h5 class="text-uppercase ">
            
                                    Продукты
                            

        </h5>
        <div class="sidebox-body">


    <nav class="text-links">
            <ul class="list-inline">
                            <li class=" ">

                    
                                                                
                    <a href="/cs-cart-rus-pack.html">CS-Cart Русская версия</a>
                </li>
                                            <li class=" ">

                    
                                                                
                    <a href="/dopolnitelnaya-vitrina.html">Дополнительная витрина</a>
                </li>
                                            <li class=" ">

                    
                                                                
                    <a href="/podpiska-na-obnovleniya.html">Подписка на обновления</a>
                </li>
                                    </ul>
        </nav>
</div>
    </aside>
    <!-- Sidebox general wrapper end -->
        </section>
                    
                    <section class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <!-- Sidebox general wrapper start -->
    <aside class="sidebox pull-left">
        <h5 class="text-uppercase ">
            
                                    Видеоуроки
                            

        </h5>
        <div class="sidebox-body">


    <nav class="text-links">
            <ul class="list-inline">
                            <li class=" ">

                    
                                                                
                    <a href="/videos/install/">Установка </a>
                </li>
                                            <li class=" ">

                    
                                                                
                    <a href="/videos/admin/">Управление магазином</a>
                </li>
                                            <li class=" ">

                    
                                                                
                    <a href="/videos/devel/">Разработка</a>
                </li>
                                            <li class=" ">

                    
                                                                
                    <a href="/videos/devel-design/">Верстка и дизайн</a>
                </li>
                                    </ul>
        </nav>
</div>
    </aside>
    <!-- Sidebox general wrapper end -->
        </section>
                    
                    <section class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <!-- Sidebox general wrapper start -->
    <aside class="sidebox pull-left">
        <h5 class="text-uppercase ">
            
                                    Помощь
                            

        </h5>
        <div class="sidebox-body">


    <nav class="text-links">
            <ul class="list-inline">
            <li class=" ">

                    
                                                                
                    <a href="http://www.cs-cart.ru/vopros-otvet.html">Часто задаваемые вопросы</a>
                </li>
                            <li class=" ">

                    
                                                                
                    <a onclick="yaCounter24195805.reachGoal('DOCS'); return true;" target="_blank" href="http://www.cs-cart.ru/docs/4.3.x/">Документация</a>
                </li>
                                            <li class=" ">

                    
                                                                
                    <a onclick="yaCounter24195805.reachGoal('FORUM'); return true;" target="_blank" href="http://forum.cs-cart.com/forum/69-%D1%80%D1%83c%D1%81%D0%BA%D0%BE%D1%8F%D0%B7%D1%8B%D1%87%D0%BD%D1%8B%D0%B9-%D1%84%D0%BE%D1%80%D1%83%D0%BC-russian-language/">Форум сообщества</a>
                </li>
                                            <li class=" ">

                    
                                                                
                    <a href="/support-service.html">Техническая поддержка</a>
                </li>
                                            <li class=" ">

                    
                                                                
                    <a onclick=" " target="_blank" href="https://www.cs-cart.com/helpdesk">Личный кабинет клиента</a>
                </li>
                                    </ul>
        </nav>
</div>
    </aside>
    <!-- Sidebox general wrapper end -->
        </section>
    </div>                
    <div class="row">                <section class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <!-- Sidebox general wrapper start -->
    <aside class="sidebox">
        <h5 class="text-uppercase ">
            
                                    Партнеры
                            

        </h5>
        <div class="sidebox-body">


    <nav class="text-links">
            <ul class="list-inline">
                            <li class=" ">

                    
                                                                
                    <a href="/partner-rating.html">Список разработчиков</a>
                </li>
                                            <li class=" ">

                    
                                                                
                    <a href="/partner-conditions.html">Партнерская программа</a>
                </li>
                                            <li class=" ">

                    
                                                                
                    <a href="http://www.cs-cart.ru/partner-registration-form.html">Стать партнером</a>
                </li>
                                            <li class=" ">

                    
                                                                
                    <a onclick="yaCounter24195805.reachGoal('HOSTING'); return true;" target="_blank" href="http://webhost1.ru/cscart.html">Хостинг</a>
                </li>
                                    </ul>
        </nav>
</div>
    </aside>
    <!-- Sidebox general wrapper end -->
        </section>
                    
                    <section class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <!-- Sidebox general wrapper start -->
    <aside class="sidebox">
        <h5 class="text-uppercase ">
            
                                    Маркет
                            

        </h5>
        <div class="sidebox-body">


    <nav class="text-links">
            <ul class="list-inline">
                            <li class=" ">

                    
                                                                
                    <a onclick="yaCounter24195805.reachGoal('gotoMarket'); return true;" target="_blank" href="http://marketplace.cs-cart.com/add-ons.html?sl=ru">Модули</a>
                </li>
                                            <li class=" ">

                    
                                                                
                    <a onclick="yaCounter24195805.reachGoal('gotoMarket'); return true;" target="_blank" href="http://marketplace.cs-cart.com/themes.html?sl=ru">Темы дизайна</a>
                </li>
                                    </ul>
        </nav>
</div>
    </aside>
    <!-- Sidebox general wrapper end -->
        </section>
                    
                    <section class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <!-- Sidebox general wrapper start -->
    <aside class="sidebox">
        <h5 class="text-uppercase ">
            
                                    О нас
                            

        </h5>
        <div class="sidebox-body">


    <nav class="text-links">
            <ul class="list-inline">
                            <li class=" ">

                    
                                                                
                    <a href="http://www.cs-cart.ru/about.html">О компании</a>
                </li>
                                            <li class=" ">

                    
                                                                
                    <a href="/contacts.html">Контакты</a>
                </li>
                <li class=" ">



                    <a href="http://www.cs-cart.ru/blog/">Блог</a>
                </li>
                                            <li class=" ">

                    
                                                                
                    <a href="http://www.cs-cart.ru/otzivy.html">Отзывы</a>
                </li>
                                            <li class=" ">

                    
                                                                
                    <a href="/universitet.html">Университет</a>
                </li>
                                            <li class=" ">

                    
                                                                
                    <a href="/rights-info.html">Правовая информация</a>
                </li>
                                            <li class="  icon icon-fb">

                    
                                                                
                    <a onclick="yaCounter24195805.reachGoal('FACEBOOK'); return true;" target="_blank" href="https://www.facebook.com/CSCartRu/">Новости компании</a>
                </li>
                                    </ul>
        </nav>
</div>
    </aside>
    <!-- Sidebox general wrapper end -->
        </section>
    </div>
        
</div>