<div class="row documentation-menu">
    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12 full-menu">
                <div class="mobile-menu hidden-lg hidden-md hidden-sm visible-xs-block">
                    <span class="menu-text">Меню</span>
                    <span class="icon-menu"></span>
                </div>
                <ul class="dropdown-multicolumns extra clearfix dropdown">
                    <li class="first-level "><span><a href="http://www.cs-cart.ru/features-intro.html">Возможности</a></span></li>
                    <li class="first-level "><span><a href="http://www.cs-cart.ru/demo-shop.html">Демо</a></span></li>
                     <li class="first-level "><span><a href="http://www.cs-cart.ru/videos/admin/" class="drop">Видеоуроки</a></span>
                        <ul class="secondary-multicolumns extra clearfix dropdown">
                            <li class="first-level "><span><a href="http://www.cs-cart.ru/videos/install/">Установка</a></span>
                            </li>
                            <li class="first-level "><span><a href="http://www.cs-cart.ru/videos/admin/">Управление
                                магазином</a></span></li>
                            <li class="first-level "><span><a href="http://www.cs-cart.ru/videos/devel/">Разработка</a></span>
                            </li>
                            <li class="first-level "><span><a href="http://www.cs-cart.ru/videos/devel-design/">Вёрстка
                                и дизайн</a></span></li>
                        </ul>
                    </li>
                    

                    <li class="first-level "><span><a href="http://www.cs-cart.ru/vopros-otvet.html" class="drop">Помощь</a></span>
                        <ul class="secondary-multicolumns extra clearfix dropdown">
                            <li class="first-level "><span><a  href="http://www.cs-cart.ru/vopros-otvet.html">Часто задаваемые вопросы</a></span></li>
                            <li class="first-level "><span><a onclick="yaCounter24195805.reachGoal('DOCS'); return true;" href="http://www.cs-cart.ru/docs/">Документация</a></span></li>
                            <li class="first-level "><span><a href="http://forum.cs-cart.com/forum/69-%D1%80%D1%83c%D1%81%D0%BA%D0%BE%D1%8F%D0%B7%D1%8B%D1%87%D0%BD%D1%8B%D0%B9-%D1%84%D0%BE%D1%80%D1%83%D0%BC-russian-language/">Форум</a></span></li>
                            <li class="first-level "><span><a href="http://www.cs-cart.ru/support-service.html">Техническая поддержка</a></span></li>
                            <li class="first-level "><span><a href="https://www.cs-cart.com/helpdesk">Личный кабинет клиента</a></span></li>
                        </ul>
                    </li>
                    <li class="first-level "><span><a href="http://www.cs-cart.ru/partner-rating.html">Партнеры</a></span>
                    </li>
                    <li class="first-level "><span><a href="http://www.cs-cart.ru/universitet.html">Университет</a></span>
                    </li>

                    <li class="first-level "><span><a href="http://www.cs-cart.ru/cs-cart-rus-pack.html" class="drop">Цены<i
                            class="icon-right-dir"></i></a></span>
                        <ul class="secondary-multicolumns extra clearfix dropdown">
                            <li class="first-level "><span><a href="http://www.cs-cart.ru/cs-cart-rus-pack.html">CS-Cart
                                Русская версия </a></span></li>
                            <li class="first-level "><span><a href="http://www.cs-cart.ru/dopolnitelnaya-vitrina.html">Дополнительная
                                витрина</a></span></li>
                            <li class="first-level "><span><a href="http://www.cs-cart.ru/podpiska-na-obnovleniya.html">Подписка
                                на обновления</a></span></li>
                        </ul>
                    </li>
                     
                </ul>
                <div class="row hidden-lg hidden-md hidden-sm visible-xs-block ">
                    <div class="col-xs-12 contacts_m">
                        <span class="phone_m item col-xs-6 xs-text-left">8 (800) 500 80 71</span>

                        <a class="ask_us_m item col-xs-6 xs-text-right" href="/contact-form.html">
                            <span>Задать вопрос эксперту</span>
                        </a>
                    </div>
                    <div class="col-xs-12 xs-text-center">
                        <div class=" buy-button">
                            <a href="http://www.cs-cart.ru/download.html"><span class="icon-download"></span>СКАЧАТЬ</a>
                        </div>
                    </div>
                </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 hidden-xs">
        <div class=" buy-button">
            <a href="http://www.cs-cart.ru/download.html"><span class="icon-download"></span>СКАЧАТЬ</a>
        </div>
    </div>
</div>