<div class="tygh-header clearfix">
    <div class="container-fluid header-grid">


<!-- logo line -->
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12 ">
                <div class=" top-logo">
                    <div class="logo-container xs-text-center">
                        <a href="http://www.cs-cart.ru/" title="">
                            <img src="http://www.cs-cart.ru/images/logos/1/main_logo.png" alt="CMS CS-Cart — скрипт интернет-магазина" class="logo">
                        </a>
                    </div>
                </div>
            </div>



            <div class="col-lg-9 col-md-9 col-sm-7 col-xs-12 sm-text-right hidden-xs">
                <address class="contacts_us">
                        <span class="phone item">8 (800) 500 80 71</span>

                        <a class="ask_us item" href="/contact-form.html">
                            <span>Задать вопрос эксперту</span>
                        </a>
                    </address>
            </div>
        </div>
<!-- /logo line -->

        {% include "menu-top.html" %}

        </div>
    </div>
</div>
