<div class="row">    <div class="span14 ">
    <div class=" top-menu-container    float-left">

        <div id="wrap-dropdown-multicolumns"><ul class="dropdown-multicolumns extra clearfix dropdown"><li class="first-level "><span><a href="http://www.cs-cart.ru/features-manage-your-store.html">Возможности CS-Cart</a></span></li><li class="first-level "><span><a href="http://www.cs-cart.ru/demo-shop.html">Демо</a></span></li><li class="first-level "><span><a href="http://www.cs-cart.ru/cs-cart-rus-pack.html" class="drop">Цены<i class="icon-right-dir"></i></a></span><ul class="secondary-multicolumns extra clearfix dropdown"><li class="first-level "><span><a href="http://www.cs-cart.ru/cs-cart-rus-pack.html">CS-Cart Русская версия </a></span></li><li class="first-level "><span><a href="http://www.cs-cart.ru/dopolnitelnaya-vitrina.html">Дополнительная витрина</a></span></li><li class="first-level "><span><a href="http://www.cs-cart.ru/podpiska-na-obnovleniya.html">Подписка на обновления</a></span></li></ul>
        </li><li class="first-level "><span><a onclick="yaCounter24195805.reachGoal('LESSONS'); return true;" href="http://www.cs-cart.ru/videos/admin/" class="drop">Видеоуроки<i class="icon-right-dir"></i></a></span><ul class="secondary-multicolumns extra clearfix dropdown"><li class="first-level "><span><a href="http://www.cs-cart.ru/videos/install/">Установка</a></span></li><li class="first-level "><span><a href="http://www.cs-cart.ru/videos/admin/">Управление магазином</a></span></li><li class="first-level "><span><a href="http://www.cs-cart.ru/videos/devel/">Разработка</a></span></li><li class="first-level "><span><a href="http://www.cs-cart.ru/videos/devel-design/">Вёрстка и дизайн</a></span></li></ul>
        </li><li class="first-level "><span><a onclick="yaCounter24195805.reachGoal('DOCS'); return true;" href="http://www.cs-cart.ru/docs/4.3.x/">Документация</a></span></li><li class="first-level "><span><a onclick="yaCounter24195805.reachGoal('FORUM'); return true;" target="_blank" href="http://forum.cs-cart.com/forum/69-%D1%80%D1%83c%D1%81%D0%BA%D0%BE%D1%8F%D0%B7%D1%8B%D1%87%D0%BD%D1%8B%D0%B9-%D1%84%D0%BE%D1%80%D1%83%D0%BC-russian-language/">Форум сообщества</a></span></li></ul>
        </div>
        



    </div>
</div>



    <div class="span2 ">
        <div class=" buy-button">

            <div id="wrap-dropdown-multicolumns"><ul class="dropdown-multicolumns extra clearfix dropdown"><li class="first-level "><span><a href="http://www.cs-cart.ru/download.html">СКАЧАТЬ</a></span></li></ul>
            </div>


        </div>
    </div>
</div>